body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

.App {
  margin: 30px auto;
  padding: 20px 10px;
  text-align: center;
  background-color: #1d2433;
  color: #ffffff;
  font-size: large;
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .App {
    font-size: medium;
    width: 100%;
  }
}

.App:hover {
  box-shadow: 0 8px 16px 0 #000000;
}

input {
  padding: 10px 12px;
  border-radius: 4px;
  border: none;
  font-size: 1em;
}

input[type=file] {
  width: 50%;
}

input[type=text] {
  width: 40%;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

input[type=text]:focus {
  width: 60%;
}

input[type=file]:active {
  transform: translateY(2px);
}

input[type=button] {
  width: 30%;
  margin: 5%;
  padding: 1%;
  border-radius: 36px;
  border: none;
  background: #fff;
  cursor: pointer;
  box-shadow: 2px 4px #888888;
  margin-bottom: 30px;
}

input[type=button]:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}